:root {
    // Colors
    --white: #ffffff;
    --black: #000000;
    --gray: #16171c;
    --light-gray: #cbcede;
    --navy-blue: #273249;
    --blue-1: #384c75;
    --blue-2: #5A80CE;
    --blue-2-bright: #5584e3;
    --blue-3: #799feb;
    --blue-4: #9dbaf2;
}

.theme-light {
    --background-color: var(--white);
    --accent: var(--light-gray);
    --text-color: var(--gray);
}

.theme-dark {
    --background-color: var(--gray);
    --accent: var(--blue-1);
    --text-color: var(--white);
}

body {
    background: var(--background-color) !important;
    color: var(--text-color) !important;
    font-size: 16px;
}

a {
    color: var(--blue-2-bright);
}

h2 {
    margin-top: 0;
}