---
import bios from "../../data/bio.json";
import socials from "../../data/socials.json";
import LinkButton from "../utils/LinkButton.astro";
import UserImage from "../utils/UserImage.astro";

const resumeLink = "/ResumeMelinaODell.pdf";
---

<div class="ui two column stackable grid container">
    <div class="center aligned column image-column">
        <UserImage />
    </div>
    <div class="left aligned column">
        <h1>Melina O'Dell</h1>
        {bios["bios"].map((bio) => <p>{bio}</p>)}
        <br />
        <div class="ui center aligned container">
            <div class="ui small stackable wrapping buttons">
                <LinkButton
                    icon="envelope"
                    id="email-button"
                    label="Email"
                    tooltip="Copy melinaodell48@gmail.com to clipboard"
                />
                <LinkButton
                    icon="linkedin"
                    href={socials["linkedin"]}
                    label="LinkedIn"
                    tooltip="Visit my LinkedIn"
                />
                <LinkButton
                    icon="github black"
                    href={socials["github"]}
                    label="GitHub"
                    tooltip="Visit my GitHub"
                />
                <LinkButton
                    icon="file alternate"
                    href={resumeLink}
                    label="Resume"
                    tooltip="View my resume"
                />
            </div>
        </div>
    </div>
</div>

<script is:inline define:vars={{ socials }}>
    // @ts-nocheck
    // Copy email to clipboard on click
    const email = socials["email"]["personal"];
    const emailButton = document.getElementById("email-button");
    const copyText = (text) => {
        navigator.clipboard.writeText(text);
    };
    emailButton.addEventListener("click", () => copyText(email));
</script>

<style>
    .image-column {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
</style>
