---
import papers from "../../data/papers.json";
import Section from "./Section.astro";

interface Props {
    id: string;
}

const { id }: Props = Astro.props;

const publications = papers["publications"];
const coursePapers = papers["coursePapers"];

const getAuthors = (arr: string[]) => {
    let l = arr.length;
    if (l < 2) return arr[0];
    if (l < 3) return arr.join(` and `);
    arr = arr.slice();
    arr[l - 1] = `and ${arr[l - 1]}`;
    return arr.join(", ");
};
---

<Section id={id} title="Papers" classNames={["left aligned text"]}>
    <div class="ui list">
        <h3>Publications</h3>
        {
            publications.map((paper) => (
                <div class="item paper-entry">
                    <div class="header">
                        {paper["pdfLink"] ? (
                            <a href={paper["pdfLink"]} target="_blank">
                                {paper["title"]}
                            </a>
                        ) : (
                            paper["title"]
                        )}
                    </div>
                    <div class="description">
                        {getAuthors(paper["authors"])}. {paper["conference"]},{" "}
                        {paper["date"]}.
                    </div>
                </div>
            ))
        }
        <h3>Coursework</h3>
        {
            coursePapers.map((paper) => (
                <div class="item paper-entry">
                    <div class="header">
                        <a href={paper["pdfLink"]} target="_blank">
                            {paper["title"]}
                        </a>
                    </div>
                    <div class="description">
                        {getAuthors(paper["authors"])}. {paper["date"]}.
                    </div>
                </div>
            ))
        }
    </div>
</Section>

<style>
    .header,
    .description {
        color: var(--text-color) !important;
    }

    .paper-entry {
        margin-bottom: 1em;
    }
</style>
