---
interface Props {
    id: string;
    title: string;
    classNames?: string[];
}

const { id, title, classNames }: Props = Astro.props;
---

<div>
    <h2 id={id}>{title}</h2>
    <div class:list={["ui", classNames, "container"]}>
        <slot />
    </div>
</div>
