---
import PageWrapper from "../layouts/PageWrapper.astro";
---

<PageWrapper
    title="Melina O'Dell"
    description="Melina O'Dell"
    keywords={["melodell, Melina O'Dell"]}
    author="Melina O'Dell"
    useFomantic={true}
>
    <main>
        <div class="ui centered cards">
            <div class="ui card" style="margin-top: 100px;">
                <div class="content">
                    <div class="header">Melina O'Dell's personal website</div>
                    <div class="description">
                        This website is a work-in-progress. Stay tuned!
                    </div>
                </div>
            </div>
        </div>
    </main>
</PageWrapper>
