---
import Sidebar from "../components/sidebar/Sidebar.astro";
import SidebarToggle from "../components/sidebar/SidebarToggle.astro";
import PageWrapper from "../layouts/PageWrapper.astro";
---

<PageWrapper
    title="Melina O'Dell"
    description="Melina O'Dell"
    keywords={["melodell, Melina O'Dell"]}
    author="Melina O'Dell"
    useFomantic={true}
>
    <Sidebar slot="sidebar" />
    <main class="ui text center aligned container">
        <SidebarToggle />
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>

        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <h1 style="color: white;">Welcome.</h1>
        <!-- Intro -->
        <!-- Experience -->
        <!-- Projects -->
        <!-- Papers -->
        <!-- Contact -->
        <!-- <UserImage /> -->
    </main>
</PageWrapper>
