---
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Intro from "../components/Intro.astro";
import Papers from "../components/Papers.astro";
import Projects from "../components/Projects.astro";
import Sidebar from "../components/sidebar/Sidebar.astro";
import SidebarToggle from "../components/sidebar/SidebarToggle.astro";
import PageWrapper from "../layouts/PageWrapper.astro";
---

<PageWrapper
    title="Melina O'Dell"
    description="Melina O'Dell"
    keywords={["melodell, Melina O'Dell"]}
    author="Melina O'Dell"
    useFomantic={true}
>
    <Sidebar slot="sidebar" />
    <main class="ui center aligned container">
        <SidebarToggle />

        <!-- Intro -->
        <Intro />
        <div class="ui divider"></div>

        <!-- Experience -->
        <Experience id="experience" />
        <div class="ui divider"></div>

        <!-- Projects -->
        <Projects id="projects" />
        <div class="ui divider"></div>

        <!-- Papers -->
        <Papers id="papers" />
        <div class="ui divider"></div>

        <!-- Contact -->
        <Contact id="contact" />
    </main>
</PageWrapper>

<style>
    /* Fomantic overrides */
    .ui.container {
        max-width: 933px;
        margin-top: 25px;
    }

    .ui.divider {
        border-top: 1px solid var(--sidebar-shadow) !important;
    }
</style>
