---
import Contact from "../components/Contact.astro";
import Intro from "../components/Intro.astro";
import Sidebar from "../components/sidebar/Sidebar.astro";
import SidebarToggle from "../components/sidebar/SidebarToggle.astro";
import PageWrapper from "../layouts/PageWrapper.astro";
---

<PageWrapper
    title="Melina O'Dell"
    description="Melina O'Dell"
    keywords={["melodell, Melina O'Dell"]}
    author="Melina O'Dell"
    useFomantic={true}
>
    <Sidebar slot="sidebar" />
    <main class="ui center aligned container">
        <SidebarToggle />
        <!-- Intro -->
        <Intro />
        <div class="ui divider"></div>

        <!-- Experience -->
        <span id="experience"></span>
        <!-- <div class="ui divider"></div> -->

        <!-- Projects -->
        <!-- <div class="ui divider"></div> -->

        <!-- Papers -->
        <!-- <div class="ui divider"></div> -->

        <!-- Contact -->
        <Contact id="contact" />

        <style>
            .ui.container {
                max-width: 933px;
                margin-top: 25px;
            }
        </style>
    </main>
</PageWrapper>
