---
import Sidebar from "../components/sidebar/Sidebar.astro";
import PageWrapper from "../layouts/PageWrapper.astro";
---

<PageWrapper
    title="Melina O'Dell"
    description="Melina O'Dell"
    keywords={["melodell, Melina O'Dell"]}
    author="Melina O'Dell"
    useFomantic={true}
>
    <Sidebar slot="sidebar" />
    <button id="sidebar-toggle" style="float: right;">hello</button>
    <main class="ui text container">
        <h1 style="color: white;">Welcome.</h1>
        <!-- Intro -->
        <!-- Experience -->
        <!-- Projects -->
        <!-- Papers -->
        <!-- Contact -->
        <!-- <UserImage /> -->
    </main>
</PageWrapper>
