---
import ThemeButton from "./ThemeButton.astro";
---

<div id="sidebar" class="ui visible left vertical thin sidebar menu">
    <!-- Logo -->
    <div class="item center-items">
        <img
            class="item anchor logo"
            data-href="#"
            src="/logo.png"
            alt="Logo"
            width="100"
            height="100"
        />
    </div>

    <!-- Anchor links -->
    <div class="item center-items">
        <div class="menu">
            <span class="item anchor" data-href="#experience">Experience</span>
            <span class="item anchor" data-href="#projects">Projects</span>
            <span class="item anchor" data-href="#papers">Papers</span>
        </div>
    </div>

    <!-- Resume Download -->
    <div class="item center-items">
        <div class="menu">
            <a class="item">
                Resume
                <i class="external alternate icon"></i>
            </a>
            <span class="item anchor" data-href="#contact">Contact</span>
        </div>
    </div>

    <!-- Theme toggle -->
    <div style="position: absolute; bottom: 0; width: 100%;">
        <div class="item"></div>
        <ThemeButton />
    </div>
</div>

<script is:inline>
    const navlinks = document.querySelectorAll(".anchor");
    const activeAnchor = window.location.hash;

    navlinks.forEach((linkEl) => {
        // Set initial focus
        linkEl.getAttribute("data-href") === activeAnchor
            ? linkEl.classList.add("active")
            : linkEl.classList.remove("active");

        console.log(linkEl);

        // Change focus on click
        linkEl.addEventListener("click", (e) => {
            console.log(e.target.getAttribute("data-href"));
            const navlinks = document.querySelectorAll(".anchor");
            navlinks.forEach((link) => link.classList.remove("active"));
            e.target.classList.add("active");
            window.location.hash = e.target.getAttribute("data-href");
        });
    });
</script>

<style>
    /* Fomantic overrides */
    .ui.visible.sidebar {
        box-shadow: 0 0 20px var(--sidebar-shadow) !important;
    }

    .ui.menu {
        background: var(--background-color) !important;
    }

    .item {
        color: var(--text-color) !important;
        font-size: 1em !important;
    }

    .item::before {
        background: var(--sidebar-shadow) !important;
    }

    /* Styles */
    .center-items {
        display: flex !important;
        justify-content: center !important;
        text-align: center;
    }

    .menu {
        margin-top: 0 !important;
    }

    .anchor {
        cursor: pointer;
    }

    .active {
        text-decoration: underline !important;
    }

    .active.logo {
        background: none !important;
    }
</style>
