<div id="theme-toggle" class="item center-items link">
    <i id="theme-icon"></i>
</div>

<script is:inline>
    const buttonRef = document.getElementById("theme-toggle");
    const iconRef = document.getElementById("theme-icon");
    const sidebarRef = document.getElementById("sidebar");

    const theme = (() => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();

    const setTheme = (theme) => {
        if (theme === "light") {
            document.body.classList.remove("theme-dark");
            document.body.classList.add("theme-light");
            iconRef.className = "large sun icon";
            buttonRef.classList.remove("inverted");
            sidebarRef.classList.remove("inverted");
        } else {
            document.body.classList.remove("theme-light");
            document.body.classList.add("theme-dark");
            iconRef.className = "large moon icon";
            buttonRef.classList.add("inverted");
            sidebarRef.classList.add("inverted");
        }
        window.localStorage.setItem("theme", theme);
    };

    setTheme(theme);

    document.getElementById("theme-toggle").addEventListener("click", () => {
        const isDark = document.body.classList.contains("theme-dark");
        setTheme(isDark ? "light" : "dark");
        console.log("clicky");
    });
</script>

<style>
    #theme-toggle {
        padding: 20px;
    }
    .center-items {
        display: flex !important;
        justify-content: center !important;
    }
    i {
        margin: 0 !important;
    }
</style>
