<button id="theme-toggle" class="ui basic icon button">
    <i id="theme-icon"></i>
</button>

<script is:inline>
    const bodyRef = document.querySelector("body");
    const buttonRef = document.getElementById("theme-toggle");
    const iconRef = document.getElementById("theme-icon");

    const theme = (() => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            return "dark";
        }
        return "light";
    })();

    const setTheme = (theme) => {
        if (theme === "light") {
            bodyRef.classList.remove("theme-dark");
            bodyRef.classList.add("theme-light");
            iconRef.className = "sun icon";
            buttonRef.classList.remove("inverted");
        } else {
            bodyRef.classList.remove("theme-light");
            bodyRef.classList.add("theme-dark");
            iconRef.className = "moon icon";
            buttonRef.classList.add("inverted");
        }
        window.localStorage.setItem("theme", theme);
    };

    setTheme(theme);

    document.getElementById("theme-toggle").addEventListener("click", () => {
        const isDark = bodyRef.classList.contains("theme-dark");
        setTheme(isDark ? "light" : "dark");
    });
</script>
