<div id="sidebar-toggle" class="caret sidebar-closed">
    <div id="sidebar-toggle">
        <div class="ui compact icon button">
            <i class="bars icon"></i>
        </div>
    </div>
</div>

<style>
    :root {
        --sidebar-padding: 2vw; /* Arbitrary sidebar button padding */
    }

    #sidebar-toggle {
        position: fixed;
        top: var(--sidebar-padding);
        z-index: 2;
    }

    .sidebar-closed {
        left: var(--sidebar-padding);
        transition: left ease 0.48s;
    }

    .sidebar-open {
        /* Arbitrary extra sidebar width */
        left: calc(var(--sidebar-padding) + 150px);
        transition: left ease 0.48s;
    }
</style>
