---
import ThemeButton from "../ThemeButton.astro";
---

<div id="sidebar" class="ui left vertical thin sidebar menu">
    <!-- Logo -->
    <div class="item center-items">
        <img
            class="item anchor logo"
            data-href="#"
            src="/logo.png"
            alt="Logo"
            width="100"
            height="100"
        />
    </div>

    <!-- Anchor links -->
    <div class="item center-items">
        <div class="menu">
            <span class="item anchor" data-href="#experience">Experience</span>
            <span class="item anchor" data-href="#projects">Projects</span>
            <span class="item anchor" data-href="#papers">Papers</span>
        </div>
    </div>

    <!-- Resume Download -->
    <div class="item center-items">
        <div class="menu">
            <a class="item">
                Resume
                <i class="external alternate icon"></i>
            </a>
            <span class="item anchor" data-href="#contact">Contact</span>
        </div>
    </div>

    <!-- Theme toggle -->
    <div style="position: absolute; bottom: 0; width: 100%;">
        <div class="item"></div>
        <ThemeButton />
    </div>
</div>

<script is:inline>
    {
        /* Set active anchor link on click */
    }

    const navlinks = document.querySelectorAll(".anchor");
    const activeAnchor = window.location.hash;

    navlinks.forEach((linkEl) => {
        // Set initial focus
        linkEl.getAttribute("data-href") === activeAnchor
            ? linkEl.classList.add("active")
            : linkEl.classList.remove("active");

        // Change focus on click
        linkEl.addEventListener("click", (e) => {
            const navlinks = document.querySelectorAll(".anchor");
            navlinks.forEach((link) => link.classList.remove("active"));
            e.target.classList.add("active");
            window.location.hash = e.target.getAttribute("data-href");
        });
    });
</script>

<!-- Listen for swipe events -->
<script src="../../scripts/swiped-events.min.js"></script>

<script>
    // @ts-nocheck
    // https://fomantic-ui.com/modules/sidebar.html#/usage
    const isSmallScreen = () => window.innerWidth < 768;
    const sidebar = $("#sidebar");

    // Make sidebar toggleable on small screens and default to hidden
    if (isSmallScreen()) {
        sidebar.sidebar({
            dimPage: false,
            transition: "overlay",
            mobileTransition: "overlay",
            exclusive: false,
            closable: false,
        });
        sidebar.sidebar("attach events", "#sidebar-toggle");
    } else {
        sidebar.addClass("visible");
    }

    // Detect swipe events to show/hide sidebar
    document.addEventListener("swiped-left", () => sidebar.sidebar("hide"));
    document.addEventListener("swiped-right", () => sidebar.sidebar("show"));
</script>

<style>
    /* Fomantic overrides */
    .ui.visible.sidebar {
        box-shadow: 0 0 20px var(--sidebar-shadow) !important;
    }

    .ui.menu {
        background: var(--background-color) !important;
    }

    .menu {
        margin-top: 0 !important;
    }

    .item {
        color: var(--text-color) !important;
        font-size: 1em !important;
    }

    .item::before {
        background: var(--sidebar-shadow) !important;
    }

    .active {
        text-decoration: underline !important;
    }

    .active.logo {
        background: none !important;
    }

    /* Styles */
    .center-items {
        display: flex !important;
        justify-content: center !important;
        text-align: center;
    }

    .anchor {
        cursor: pointer;
    }
</style>
